<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if 'user_id' in session %}
                <li><a href="{{ url_for('chatbot_route') }}">Mindfulness Chatbot</a></li>
                <li><a href="{{ url_for('mood_tracker') }}">Mood Tracker</a></li>
                <li><a href="{{ url_for('visualization') }}">Mood Visualization</a></li>
                <li><a href="{{ url_for('mindfulness') }}">Mindfulness Exercises</a></li>
                <li><a href="{{ url_for('resources') }}">Resources</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login3') }}">Login</a></li>
                <li><a href="{{ url_for('register2') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>